<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Data</title>
</head>
<body>
    <div class="container">
        <form action="/save" method="post">

            <div>
                <label for="Student_ID">STudent_ID:</label>
                <input type="text" name="student_id" id="student_id">

            </div>
            <div>
                <label for="student_name">Student Name</label>
                <input type="text" name="student_name" id="student_name">
            </div>

            <div>
                <label for="room_no">Room No</label>
                <input type="text" name="room_no" id="room_no">
            </div>

            <div>
                <button type="submit">save</button>
            </div>
        </form>
    </div>
    
</body>
</html>