<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="container">
    <h1>CRUD Operation</h1>
    <button onclick="window.location.href='/Create'">Create Data</button>

    <button onclick="window.location.href='/read'">Read Data</button>
    <button onclick="updateData()">Update Data</button>
    <button onclick="deleteData()">Delete Data</button>
    </div>

</body>
</html>