<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
</head>
<body>
    <h1>Enter or Update Data</h1>

    <!-- Form for adding new data -->
    <form id="dataForm" action="/update-data" method="POST">
        <div>
        <label for="Student_ID">Student_ID:</label>
        <input type="text" id="Student_ID" Student_ID="Student_ID" ><br><br>
        </div>

        <div>
        <label for="student_name">student_name:</label>
        <input type="text" id="student_name" Student_ID="student_name" ><br><br>
        </div>

        <div>
            <label for="romm_no">Room No:</label>
            <input type="number" name="room_no" id="room_no">
        </div>

        <button type="submit">Submit</button>
    </form>

    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Student ID
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Room No
                    </th>

                </tr>
            </thead>
            <tbody>
                <% hostel.forEach((hostel) => {%>
                    <tr>
                        <td><%= hostel.student_id %></td>
                        <td><%= hostel.student_name %></td>
                        <td><%= hostel.room_no %></td>
                        
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>


</body>
</html>
